<section id="signup" class="section container">
  <div class="grid cols-2">
    <div class="hero-image">
      <img src="images/Instagram_pics/Market_stall.jpg"
           alt="Cambridge Stand Up to Racism volunteers at Cambridge stall in Market Square" />
    </div>

    <div class="card">
      <h2>Sign up for updates and/or volunteer</h2>

      <div id="emailoctopus_embed_signup">
        <script async
          src="https://eocampaign1.com/form/2015afc8-41a0-11f1-8b89-43ce55d16c18.js"
          data-form="2015afc8-41a0-11f1-8b89-43ce55d16c18">
        </script>
      </div>
    </div>
  </div>
</section>
